<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link href="./style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
      <h4>My Book Collection</h4>

    </main>
  </body>
</html>
