<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>My Grocery List</h1>
    <p><a href="/">Home</a></p>

    <ul>
      <% groceryList.forEach(item => { %>
        <li>Name: <%= item.name %></li>
        <li>Quantity: <%= item.quantity %></li>
      <% }) %>
    </ul>

  </body>
</html>